<template name="account">
	<div class="page-header">
		<h1>Account Info</h1>
	</div>
	

		<table class="table table-bordered table-striped table-condensed">
			<thead>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Email</td>
					<td>Email Verified</td>
					<td>Last Login</td>
					<td>Access</td>
				</tr>
			</thead>
			<tbody>
				{{#each accountUser}}
				<tr>
					<td>{{profile.firstName}}</td>
					<td>{{profile.lastName}}</td>
					<td>{{emails.[0].address}}</td>
					<td>{{verified}}</td>
					<td>{{profile.lastActiveOn}}</td>
					<td>role</td>
				</tr>
				{{/each}}

			</tbody>
		</table>


</template>