<template name="projects">
	<button id="add-project" class="btn btn-primary">Add Project</button>
	{{>projectsTable}}
	{{>addProject}}
</template>

<template name="projectsTable">
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<td>Active</td>
			<td>Project Name</td>
			<td>Project #</td>
			<td>Client</td>
		</tr>
	</thead>
	<tbody>
		{{#each projects}}
		<tr>
			<td>{{#if isActive}}<input type="checkbox" checked class="active-box" />{{else}}<input type="checkbox" class="active-box" />{{/if}}</td>
			<td class="edit-name edit-view">
			{{#if nameSelected}}
				<input type="text" value="{{projectName}}" class="projectName"/>
				{{else}}
					{{projectName}}
			{{/if}}
			</td>
			<td class="edit-number edit-view">
				{{#if numberSelected}}
					<input type="text" value="{{projectNumber}}" class="projectNumber" />
					{{else}}
						{{projectNumber}}
				{{/if}}
			</td>
			<td class="edit-client edit-view">
				{{#if clientSelected}}
					<input type="text" value="{{client}}" class="client" />
					{{else}}
						{{client}}
				{{/if}}
			</td>
		</tr>
		{{/each}}
	</tbody>
	</table>
</template>

<template name="addProject">

	<!--<div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Project</h4>
                </div>

                <div class="modal-body">-->
                    <form id="addProject">
						<div class="form-group">
							<label for="projectName" class="control-label">Project Name</label>
							<input name="projectName" id="projectName" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label for="projectNumber" class="control-label">Project #</label>
							<input name="projectNumber" id="projectNumber" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label for="client" class="control-label">Client</label>
							<input name="client" id="client" type="text" class="form-control" />
						</div>
						<button class="btn btn-primary" type="submit">Submit</button>
					</form>
               <!-- </div>


            </div>
        </div>
    </div>-->

	
</template>