<template name="header">
 
  <nav class="header-nav navbar navbar-default" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DigitalBox</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">

           

            <li><a href="/services">Digital Services</a></li>
            <li><a href="/projects">Projects</a></li>
            {{#if isSuperAdmin}}<li><a href="/companies">Companies</a></li>{{/if}}
            <li><a href="/account/{{currentUser.profile.companyId}}">Account Info</a></li>

            {{#if currentUser}}<li><a href="/sign-out">Sign Out</a></li>{{/if}}
            
          </ul>

        </div>
      </div>

  </nav>

</template>

